extends layout

block layout-content
  div.View
    h1.Banner WHATABYTE
    div.Message
      div.Title
        h3 Best in class in Asia Pacific and Japan + China (APJC)
        h1 Top Macro fund managers specializing in Forex and Equities
      span.Details Access the SGFX Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!