extends layout

block layout-content
	div.jumbotron
		h1.display-4 Welcome, #{userProfile.nickname}!
		p.lead
			| Some of the best in APJC. 
		hr.my-4
		p
			|  Fund manager profile:
		pre=JSON.stringify(userProfile, null, 2)
		a.btn.btn-primary.btn-lg(href='/logout' role='button') Logout
