
// style.css for SGFX
// Written by Francis Nai
// Date: 28 March 2020

body {
  background: aqua;
}

.WelcomeView {
  color: white;
  background: url("singapore.jpg") left bottom;
  background-size: cover;
}

.UserView {
  color: white;
  background: url("singapore.jpg") right bottom;
  background-size: cover;
}